{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        stylefruits/gniazdo {:mvn/version "1.2.1"}
        cheshire/cheshire   {:mvn/version "5.11.0"}}
 :aliases {:run {:main-opts ["-m" "main"]}}}